.novenimagecroparea {float:left; margin-right:10px; width:600px;}
div.novenimagecroppreviewarea {display:none;}
.ui-widget input.button {font-size: 0.9em !important;}
.novenerror {font-weight:bold; color:red;}
